<%- include('partials/header', {titulo: info.titulo}); %>
<link rel="stylesheet" src="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">
<%- include('partials/navbar', {userData}); %>

    <div class="column is-6 is-offset-4 p-4">
      <h2 class="title is-2 animate__animated animate__bounceIn">Seguimiento de articulos</h2>
    </div>
    <div class="column is-10 is-offset-1">
      <div class="card p-4">
        <p class="column is-4 is-offset-4">
          <span class="subtitle is-5">
            Ultima actualizacion: <span id="fechaLU"><%= info.fecha %></span>
          </span>
        </p>     

        <progress class="progress is-large is-info" max="100" id="progressBar" style="display: none;">60%</progress>

        <table id="todo-table" class="table is-hoverable" style="display: none;">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Liquidado</th>
              <th>Tipo articulo</th>
              <!-- <th>Obs</th> -->
            </tr>
          </thead>
          <tbody>
            <% if(info.items.length > 0) { %>
              <% for(var i = 0; i < info.items.length; i++) { %>
                <tr>
                  <td><%= info.items[i].codigo %></td>
                  <% if(!info.items[i].liquidado) { %>
                    <td>Pendiente</td>
                  <% }  %>
                  <% if(info.items[i].liquidado) { %>
                    <td>Aprobado</td>
                  <% }  %>
                  <td><%= info.items[i].tipoArticulo %></td>
                  <!-- <td><%= info.items[i].observacion %></td> -->
                </tr>
              <% } %>  
            <% } %>                      


          </tbody>
        </table>
   
      </div>

    </div>   

<%- include('partials/footer'); %>
<script src="/js/articulosCargados.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script> 
